{%- if settings.enable_product_discount and settings.product_discount != blank -%}
  {%- liquid
    assign discounted_product_ids = ""

    for product in settings.product_discounted_list
      if product.variants.size > 0
        for variant in product.variants
          assign discounted_product_ids = discounted_product_ids | append: variant.id | append: ',' 
        endfor
      else
        assign discounted_product_ids = discounted_product_ids | append: product.id | append: ',' 
      endif
    endfor

    assign total_quantity = 0

    for item in cart.items
      if discounted_product_ids contains item.variant_id
        assign total_quantity = total_quantity | plus: item.quantity
      endif
    endfor

    assign product_discount_setting = settings.product_discount_quantity | default: '100'
    assign product_discount_threshold = product_discount_setting | split: '|' | first | strip | plus: 0

    assign remaining_quantity = product_discount_threshold | minus: total_quantity
    assign progress_percentage = total_quantity | times: 100 | divided_by: product_discount_threshold | round

    if remaining_quantity < 0
      assign remaining_quantity = 0
      assign progress_percentage = 100
    endif
  -%}

  {%- assign custom_text = settings.product_discount_text | replace: '||quantity||', remaining_quantity -%}

  {%- if total_quantity > 0 -%}
    <product-discount>
      <div class="wt-free-shipping-bar">
        <p class="wt-free-shipping-bar__text">
          {% if remaining_quantity > 0 %}
            {{ custom_text }}
          {% else %}
            {{ settings.product_discount_text_success }}
          {% endif %}
        </p>
        <div class="wt-progress-bar">
          <div
            class="wt-progress-bar__fill"
            style="width: {{ progress_percentage }}%; background-color: {% if progress_percentage == 100 %}green{% else %}red{%- endif -%};"
          ></div>
        </div>
      </div>
    </product-discount>
  {%- endif -%}
{%- endif -%}
