<!-- Stamped - Begin Collection Star Rating Badge -->
<span
  class="stamped-product-reviews-badge"
  data-id="{{ product.id }}"
  data-product-sku="{{ product.handle }}"
  data-product-type="{{ product.type }}"
  data-product-title="{{ product.title }}"
  style="display:block;">
</span>
<!-- Stamped - End Star Rating Badge -->