.wt-product__price__override * {
  margin: 0!important;
}

.wt-product__price__override p {
  font-size: 1.4rem;
}

.f-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.2rem;
}

.f-grid .f-button__list__link::before,
.f-grid .counter-wrapper {
  border: none;
  border-radius: unset;
}

.f-grid .f-button__list__item {
  border: 1px solid var(--color-border);
  min-height: 65px;
  place-items: center;
  display: flex;
  padding: 8px 12px;
}

.wt-product__option__body__cocktail__image svg {
  width: 100%;
  height: 100%;
}

.wt-product__option__body__cocktail__image {
  aspect-ratio: 1;
  width: 100%;
  max-width: 30px;
  display: grid;
  place-items: center;
}

.flex {
  display: flex
}

.w-full {
  width: 100%;
}

.flex-1 {
  flex: 1;
}

.component-counter-replica input {
  display: block!important;
  position: unset!important;
  opacity: 1!important;
  pointer-events: auto!important;
}

custom-metaproperty .form__fieldset {
  gap: 0;
}

.form__fieldset {
  flex-direction: column!important;
  margin-bottom: 1.6rem!important;
}

.form__fieldset label {
  font-size: 1.4rem;
}

.component-counter-replica .drawer__list__item input {
  display: block;
  position: unset;
  opacity: 1;
  pointer-events: auto;
}

.mt-24 {
  margin-top: 24px;
}

.inline-block {
  display: inline-block;
}

/* custom variant picker */
.drawer__list {
  gap: .6rem;
}

.drawer__list__item--dropdown {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
  align-items: center;  
}

.drawer__list__item-image {
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  width: 3rem;
}

.drawer__list__item--dropdown .drawer__list__item-title {
  flex: 1;
}

.drawer__list__item--dropdown input:checked + label,
.drawer__list__item--dropdown input:checked + label::before {
  background-color: transparent!important;
  height: auto;
}

.drawer__list__item--dropdown label::after {
  opacity: 0;
}

.drawer__list__item--dropdown .counter-wrapper {
  width: max-content;
}

.drawer__list__item--dropdown input {
  display: block!important;
  position: unset!important;
  pointer-events: auto!important;
  opacity: 1!important;
}

.drawer__filter-list:empty {
  display: none;
}

.drawer__filter-list {
  display: flex;
  gap: 12px;
  padding: calc(var(--gap, 8px) * 2) calc(var(--gap, 8px) * 4);
}

order-summary[data-state="disabled"] button {
  cursor: not-allowed;
  opacity: .75!important;
}

order-summary {
  position: sticky;
  top: 2rem;
  left: 0;
  z-index: 10;
}

order-summary {
  display: grid;
  place-items: center;
  transition: top .3s ease-in-out;
}

order-summary custom-variant-dropdown {
  width: 100%!important;
}

order-summary custom-variant-dropdown button.wt-product__option__dropdown {
  border-radius: 0!important;
  width: 100%!important;
  background: #efefef!important;
  margin: 0!important;
  text-align: center!important;
  color: black!important;
  text-transform: uppercase;
  font-weight: 500;
  justify-content: center!important
}

.sticky-enabled.sticky-show ~ main order-summary {
  top: 7rem;
}

order-summary .drawer__list-overlay {
  opacity: 1;
}

.drawer__content--padding {
  padding: calc(var(--gap, 8px) * 2) calc(var(--gap, 8px) * 4);
}

.drawer__list__item--mb {
  padding-bottom: .75rem;
}

.drawer__list__item--mb p {
  margin: 0
}

.label-application .wt-product__option__title {
  font-size: 1.4rem;
}

.label-application__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: .8rem;
}

.label-application__list input {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.label-application__list label {
  display: flex;
  gap: .8rem;
  justify-content: space-between;
  height: auto;
  padding: 1.2rem 1.6rem;
  position: relative;
  font-size: 1.2rem;
  cursor: pointer;
}

.label-application__list label::after {
  content: "";
  inset: 0;
  position: absolute;
  border: 1px solid var(--color-border);
  display: block;
  transition: border-color 0.3s;
  border-radius: 1.2rem;
}

.label-application__list label span:last-of-type {
  white-space: nowrap;
}

.label-application__list input:checked + label::after {
  border-color: var(--color-body-text);
}

custom-variant-options.wt-variant-options {
  display: grid;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
}

.label-application {
  margin-bottom: 1.6rem;
}

custom-product-form label p,
custom-product-form .wt-product__option__title p {
  margin-block: 0!important;
}

custom-metaproperty .error-message {
  color: red;
  font-size: 1.2rem;
  display: none;
  margin-top: .75rem;
}

custom-metaproperty[data-state="fill"] .error-message {}

custom-metaproperty[data-state="error"] input {
  border-color: red;
  border-width: .2rem;
}

custom-metaproperty[data-state="error"] .error-message {
  display: block;
}